
@media only screen and (min-width:768px) and (max-width:992px){
	.top{
		display: none;
	}
	
	div.collapse ul li{
		padding-left: 10px;
	}

	.ABOUT{
		margin: 30px 0 80px 0;
		padding:0;
	}

	article{
		margin-right: 12px;
	}

	#abright{
		padding-right:5px ;
	}

	.our{
		top:50%;
		left:50%;
		right: -40%;
		transform:translate(-50%,-57%);
		font-size: 2vw;
	}
	
	#ourtitle{
		font-size: 1.5w;
	}

	.textduoi>p{
		font-size: 2vw;
		}

	#ourtitle{
		font-size: 1.5vw;
	}

    #ptexttren{
	font-size: 2vw;
	}

	.edu,.bus{
		font-size:3.5vw;
	}

	.BUSINESS{
		padding-left:40px;
		padding-right:30px
	}

    .rightimg img{
        max-height: 350px;
    }

	img.thumb{
		width:100%;
		max-height:160px;
	}

	#message{
		width: 96%;
	}


	/* ___________________NEWS______________________ */
	.newspost_box{
		width: 95%;
		margin-top: 20px;
		margin-left: 20px;
	}

		
	/* ______________________________________OUR BUSINESS_______________________________________ */

	.educonsul img{
		width: 100%;
		height: auto;
	}

	.busconsul img{
		width: 100%;
		height: auto;
	}
}